/* global less variable */

// handle 1px problem
@svg line {
    width: 1;
    height: 1;
    @rect {
        fill: var(--color, white);
        x: 0;
        y: 0;
        width: 1;
        height: 0.5;
    }
}

// rem 单位换算：定为 75px 只是方便运算，750px-75px、640-64px、1080px-108px，如此类推
@vw_fontsize: 75; // iPhone 6尺寸的根元素大小基准值
// 根元素大小使用 vw 单位
@vw_design: 750;
